<!DOCTYPE html>
<html lang="en">

<head>
  <title>.LUCIDITY--Concerts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="stylesheets/home.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Spartan:200&display=swap" rel="stylesheet">
</head>

<body>

  <div class="stars">
    <div class="twinkling">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            </button>
            <a class="navbar-brand" href="./index.html">.Lucidity</a>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="col-sm-4">
          <section class="spotifySection">
            <div class="card-transparent">
              <div class="card-body">
                <h5 class="moodChoice">Upcoming Shows.</h5>
                <hr>
                <div id="concertSection">

                  {{ concertArr }}

                </div>
              </div>
            </div>
          </section>
        </div>
      </div>




    </div>
  </div>

</body>

</html>