/* Html CSS */
body{
    font-family: 'Spartan';

}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* Concert BUttons */
#go-btn{
    display: flex;
    justify-content: center;
    font-family: 'Spartan';
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid white;
    border-radius: 6px;
    margin-top:10px;
}
#go-btn:hover{
    color: black;
    background: white;
    font-family: 'Spartan';
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

 


/* Mood Card */

.moodChoice{
    text-align: center;
    color: white;
    font-family: 'Spartan';
    font-weight: bold;
}

/* Mood Buttons */
.mood{
    width: 75px;
    height: 75px;
  
}

.moodButtons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

#happy{
    background-color: #828282;
    border-radius: 8px;
    padding: 2px;
}
#sad{
    background-color: #828282;
    border-radius: 8px;
    padding: 2px;
}
#love{
    background-color: #828282;
    border-radius: 8px;
    padding: 2px;
}
#anger{
    background-color: #828282;
    border-radius: 8px;
    padding: 2px;
}
#chill{
    background-color: #828282;
    border-radius: 8px;
    padding: 2px;
}
#sleepy{
    background-color: #828282;
    border-radius: 8px;
    padding: 2px;
}


/* Comment Buttons */

.leave-comment{
    display: flex;
    justify-content: center;
    font-family: 'Spartan';
    font-weight: bold;
    color: black;
    padding: 20px;
    border: 4px solid white;
    border-radius: 6px;
    margin-top:10px;
}
.leave-comment:hover{
    color: black;
    background: white;
    font-family: 'Spartan';
    text-decoration: none;
    transition: all 0.5s ease 0s;
}


/* Sections */

.moodSection{
    display: flex;
    justify-content:  space-evenly;
    margin-top: 25px;
}

.songSection{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    height: 100px; 
}

.spotifySection{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#pickedSong{
    color: white;
    text-align: center;
}

  /* Background CSS */
  * {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

/* viewport */
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  @-ms-viewport {
    width: device-width ;
} 
@viewport {
    width: device-height ;
    zoom: 1.0 ;
  }

  @-ms-viewport {
    width: device-height ;
} 