.card-body{
    background-image: url("../img/spotifeels.jpg");
}

.jumbotron{
    background-color: #52B95E;
    text-align: center;
    background-image: url("../img/whitebanner.jpg");
    background-size: contain;
    background-position: center;
    height: 300px;
    border-radius: 2px;
    border-bottom: black;
    border-width: 5px;
}

body{
    background-color: black;
    
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* Mood section */
#happy{
    background-color: #52B95E;
    border-radius: 8px;
    padding: 2px;
}
#sad{
    background-color: #52B95E;
    border-radius: 8px;
    padding: 2px;
}
#love{
    background-color: #52B95E;
    border-radius: 8px;
    padding: 2px;
}
#anger{
    background-color: #52B95E;
    border-radius: 8px;
    padding: 2px;
}
#chill{
    background-color: #52B95E;
    border-radius: 8px;
    padding: 2px;
}
#sleepy{
    background-color: #52B95E;
    border-radius: 8px;
    padding: 2px;
}

.btn .btn-success{
    background-color: #52B95E;
}

.mood{
  width: 75px;
  height: 75px;

}
.moodButtons{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
/* Sections */

.moodSection{
    display: flex;
    justify-content:  right;
    margin-top: 25px;
    
  
  
}
.commentSection{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    height: 100px; 
}

.spotifySection{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    

}

/* Comments  */

.commentButton{
    margin-top: 5px;
    color: #52B95E;
}

.commentTitle {
    color: #52B95E;
}

.comment {
    padding: 10px;
    margin: 10px;
    background-color: #e8f9ff;
  }
  
  .cool-font {
    font-family: Shrikhand, cursive;
    font-size: 24px;
    color: #52B95E;
  }