
.jumbotron{
    background-color: #1ED760;
    text-align: center;
}

body{
    background-color: #1B1B1B;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* Mood section */
#happy{
    background-color: #1ED760;
}
#sad{
    background-color: #1ED760;
}
#love{
    background-color: #1ED760;
}
#anger{
    background-color: #1ED760;
}
#chill{
    background-color: #1ED760;
}
#sleepy{
    background-color: #1ED760;
}

.mood{
  width: 75px;
  height: 75px;

}
.moodButtons{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
/* Sections */

.moodSection{
    display: flex;
    justify-content:  right;
    margin-top: 25px;
  
  
}
.commentSection{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    height: 100px; 
}

.spotifySection{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    

}


.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
    margin-top: 26px;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #1ED760;
}

.comment-wrapper .media-list .media {
    /* border-bottom:1px dashed #efefef;
    margin-bottom:25px; */
}
.comment{
    color: white;
}

.img-circle{
    margin-right: 10px;
    background-color: #1ED760;
}


/* Footer */


/*======Responsive CSS=======*/
@media (max-width: 767px){
.comments .commenter-name {
    font-size: 13px;
    top: -5px;
}
.comments .commenter-pic {
    width: 40px;
    height: 40px;
}
 */
